interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-13T23:42:15Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-13T23:42:15Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1197478'
      ocp-aad-diagnostics-server-name:
      - 368Ee4wMDA+pKLHJOto3imsvSCQfolrdyq4lpctl9qk=
      ocp-aad-session-key:
      - kxoTQgVTTYdBlE48L7PppXfxPOjFwDeoeXazz8ch6QoAW6bCTLwv6Nt9a2pE1aQ3IenJxuwkFWTFSGZxpMGqVB1XRHZ54tnaHyluJACiGM_iTymBR7Yk_pe5rIuisfVh.12OUf6-TAdcHolOlnR0nm7QEbcFNKIZmAtN40zXOGHY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1039306'
      ocp-aad-diagnostics-server-name:
      - w3tJqn0jyDeAoFh73yDbb9lqz5/zy6YCXtVsUDxAwdY=
      ocp-aad-session-key:
      - e9LPfRRbFCUxu-ELxVd3xaWeCtk9JWp1C2pRpnhI3iSUxkpX3DanXEc3Vr4Cr41tXBMWMzruCpUddH3RG57iveGYNd1xRerPlvyX5oDVKLipJjASaYO7hLUDZMiXTZD0.rgoFtAb7xn-RLLAtFLN4QtLW_4vvP-UQ6fEXrFWjIpg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://clitest000002",
      "passwordCredentials": [{"startDate": "2019-05-13T23:42:19.467381Z", "endDate":
      "2020-05-13T23:42:19.467381Z", "keyId": "3038e956-654e-4678-844c-22b6dd65babe",
      "value": "74f5db6d-3c4f-4228-a5e3-4a6daf06c6c4", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "clitest000002", "identifierUris": ["http://clitest000002"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"8d2bc63e-8d15-472c-a25e-4c9be63c9a0e","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"6d25150f-fa3f-43e1-8fe0-8abc1dd29300","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitest000002","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/8d2bc63e-8d15-472c-a25e-4c9be63c9a0e/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/8d2bc63e-8d15-472c-a25e-4c9be63c9a0e/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"a7ba4f31-478d-47c3-9c0a-409b668b02a4","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-05-13T23:42:19.467381Z","keyId":"3038e956-654e-4678-844c-22b6dd65babe","startDate":"2019-05-13T23:42:19.467381Z","value":null}],"publicClient":null,"publisherDomain":"microsoft.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6957886'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/8d2bc63e-8d15-472c-a25e-4c9be63c9a0e/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - k+a8loBjbxraN1otxCzpa/lm7sS3uSMfCmXQCJ5UeOg=
      ocp-aad-session-key:
      - kMKB5aH8WYjKRJ5BC9ZG3sXuSdTjxu9_pIL8Y4a1_lQlULxXd6r8_TkEE_2XE-thaRiyM0F2yQMEXVvesm4bpki6KzyEqh8XBAnupDzp_g0v4INeIfYCg5BIb3ySd8VS2Vq0phV5X_YzaULSNHtmRQ.DgkntAElmRs856sdzgDO2zG7ki4hfsH91_Xgsw4lVkE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "6d25150f-fa3f-43e1-8fe0-8abc1dd29300"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"8fb759e5-e237-4772-80da-d20adf85a1ad","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest000002","appId":"6d25150f-fa3f-43e1-8fe0-8abc1dd29300","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitest000002","errorUrl":null,"homepage":"https://clitest000002","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"a7ba4f31-478d-47c3-9c0a-409b668b02a4","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["6d25150f-fa3f-43e1-8fe0-8abc1dd29300","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4063171'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/8fb759e5-e237-4772-80da-d20adf85a1ad/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - WzhaGtBqxSLZ0hrAkiIQJ9kgl/P+rn9FQMPcJn/2zBI=
      ocp-aad-session-key:
      - XyNiPzogsRSslCUQ54VV1EgsnUYxU4t7x1AxJ9W2ShS5gKctZMMYusQLq1kX2bSPISinlqeXmc3p40fbcvjGE8n3Z2HL0y3AVDGe09Jb-IJURs1fcsiosjlXhbZmRNvmn1bBfmJB4L5CEFjbpbR5CQ.WhErRFst5rB_lUp6Adt18hL37Uq8gmrfRQrQz6hVpLQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["192.168.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "192.168.0.0/24"}, "name": "clisubnet000005"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"clivnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004\",\r\n
        \ \"etag\": \"W/\\\"3762ea2d-b1ad-4e45-9892-1f0bc5e1391e\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"d146b61f-9b9a-4902-992a-e65fbf2fc2a1\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"clisubnet000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005\",\r\n
        \       \"etag\": \"W/\\\"3762ea2d-b1ad-4e45-9892-1f0bc5e1391e\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"192.168.0.0/24\",\r\n          \"delegations\":
        []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a3576eba-4b23-4cfa-a09e-66c08c67c70e?api-version=2019-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a3576eba-4b23-4cfa-a09e-66c08c67c70e?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","principalId":"990b614a-5616-4be0-a01d-bf67421652ac","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2018-08-13T20:30:17.1189145Z","updatedOn":"2018-08-13T20:30:17.1189145Z","createdBy":"2b5ef1a8-96c2-4572-87e1-5eac032ea9f9","updatedBy":"2b5ef1a8-96c2-4572-87e1-5eac032ea9f9"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/a8b439c8-3e07-41b0-ac55-1533c75c8cf6","type":"Microsoft.Authorization/roleAssignments","name":"a8b439c8-3e07-41b0-ac55-1533c75c8cf6"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"8e66d62c-3557-4b6c-bbf0-d8c3[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Network%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Network Contributor","type":"BuiltInRole","description":"Lets
        you manage networks, but not access to them.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Network/*","Microsoft.ResourceHealth/availabilityStatuses/read","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-06-02T00:18:27.3542698Z","updatedOn":"2016-05-31T23:14:00.3326359Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","type":"Microsoft.Authorization/roleDefinitions","name":"4d97b98b-1d4f-4787-a291-c67834d212e7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5179662'
      ocp-aad-diagnostics-server-name:
      - +Hn5o028tX60qRbexrbZTHdK0iF10fFEmTWd+2I+zlY=
      ocp-aad-session-key:
      - 9cBerqoc3J5bQyLSKVzywj__b3AWDtsLqIPNfYtVX_mgiaGVrvBVZArrAVBps7v6KAfbX9OplZNqcERHGWc2DvJ1pUMnFK3YAnThYj8ie8wUt8hhzzF9yfGOjZUZiZJeUje-p2L63nQfkpc_VVIW4g.ul3-ln9tKTbdjyJokXXHIk_MXrd514RThdnDfOghPIg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"objectIds": ["clitest000002"], "includeDirectoryObjectReferences":
      true}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Request_BadRequest","message":{"lang":"en","value":"Invalid
        GUID specified."},"requestId":"d807c1c6-c050-42a1-9a9c-6d539e1d5162","date":"2019-05-13T23:42:39"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5364515'
      ocp-aad-diagnostics-server-name:
      - 8FSoKn5C+xKnzMxVB24u9W0B3o/Ls6Mt3pri2fVg6OA=
      ocp-aad-session-key:
      - EXZx8YtOCaa_C5TS-p4gNrgLxPj__PPPfeSGhkhGutYX9s024tTzHiBOjLiviWvVSm6srvSwMJTAKwJxnuwtzEl2FfLDPuR-ffoD2dV8ArsE8R5ViFR9WPIrDz8SM-UOu2z9QpJPFC432DhsQ5EBRQ.3NqCaSn1zN_6SgMKiXI_7PFIXwuYSZ2mQ7FuSdgRSSE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "eastus", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitestpemlaicog-c9cbd9", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS2_v2", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005",
      "osType": "Linux"}], "servicePrincipalProfile": {"clientId": "clitest000002",
      "secret": "74f5db6d-3c4f-4228-a5e3-4a6daf06c6c4"}, "addonProfiles": {}, "enableRBAC":
      true}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body:
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"Service
        principal clientID: clitest000002 not found in Active Directory tenant 72f988bf-86f1-41af-91ab-2d7cd011db47,
        Please see https://aka.ms/aks-sp-help for more details.\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%276d25150f-fa3f-43e1-8fe0-8abc1dd29300%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/8fb759e5-e237-4772-80da-d20adf85a1ad?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"8fb759e5-e237-4772-80da-d20adf85a1ad","del[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"8d2bc63e-8d15[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%278fb759e5-e237-4772-80da-d20adf85a1ad%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/8d2bc63e-8d15-472c-a25e-4c9be63c9a0e?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '4613689'
      ocp-aad-diagnostics-server-name:
      - uHyVfaWnz1wZ+Kit9M+ndgirzc7H4vyg8f/Bx6SxLLI=
      ocp-aad-session-key:
      - WKmKmtE17hvrdHn8_TZNC1NdQpZY-OH7zhrKh08Pgtfrl8NatYqCUsKCAgwSiwaw-jWycrNhAkvdsEmKjB8sJQhv-5EWnG2qpQQcGP3G27I05JyDTGcYSw_2jVKFZwvOQRoER0f9XRxfdcKf-LPo2nX3ku20JYX4QiibKwaxnrk.RjDabSwGKQ9z9tEPgnirc8ibrE8Yr9nEukRLgvMzH4M
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUUEVNTEFJQ09HUC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
