interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-13T23:43:41Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-13T23:43:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '699638'
      ocp-aad-diagnostics-server-name:
      - 7G98t5jXPmdc39u36x9DSb0cC/ny+jmdWuhB0dVG1QM=
      ocp-aad-session-key:
      - kzW4ILFIRF8PaNiGJ762pufQYJhhsRK4mxwOJZ2nChewbf9mgNnkCXKMaZ6xWgbnAhmH9yd7l8Er1V3csZHeQgR5bJcGN1oOC7Gqzz52klXvblchL4IGRox6fIv-H4n0YoPL_CTScD_cclzxg0y4OQ.Pnk7MOcYPRZz_lOsKn51dnqhLlScSQvlJToPD5H9tlc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '712938'
      ocp-aad-diagnostics-server-name:
      - UJod7VmkPiqRZ3LL8q1JqdoyPpXCav9KRxab7im3lsM=
      ocp-aad-session-key:
      - obvRdDfNoDcsKyGsuXtCXR34bmjW22TYCjkPy8mpdyBuobHRwlf8BG38if-oJlc2jveJdM-_ENXzQzV5QFjxoPfO53rAkd2wLJcjjkrIMX4L_isA4n_MCBVgJSzJCKKiAhSWhTIMn_wo8rwiuMzvLg.b-8icYgcq21glWTogVMUC2eqYFORNY7f3OgvEE81TpY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://clitest000002",
      "passwordCredentials": [{"startDate": "2019-05-13T23:43:45.323433Z", "endDate":
      "2020-05-13T23:43:45.323433Z", "keyId": "ecca221e-e3fc-4aa2-a5a0-f257f0a5a7f8",
      "value": "b160e205-83b8-4d2e-ac45-ef78f8baa157", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "clitest000002", "identifierUris": ["http://clitest000002"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"10907af9-fa00-418c-b6f0-b50ab8325fbc","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"4976df7f-e541-4224-bec7-698cee881a7d","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitest000002","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/10907af9-fa00-418c-b6f0-b50ab8325fbc/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/10907af9-fa00-418c-b6f0-b50ab8325fbc/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"b122e91f-80c3-4623-ba36-389a5f7353c1","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-05-13T23:43:45.323433Z","keyId":"ecca221e-e3fc-4aa2-a5a0-f257f0a5a7f8","startDate":"2019-05-13T23:43:45.323433Z","value":null}],"publicClient":null,"publisherDomain":"microsoft.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6585006'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/10907af9-fa00-418c-b6f0-b50ab8325fbc/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - pXlXQrc9MSPlRSTdMmTrsa5qwcKpymyDfVLM9CfOb1k=
      ocp-aad-session-key:
      - dQZpYW6Ct9ZegIsFiohYRIUcdNF6m60ZQP7svz84Sf89iFh0fDCB6gf8_LjK2RciNU4VZsWXPK_roEi0D-fjil0OfLd9ftdwYd0w-tlwbmbnjOQfcQQwS33DV15-gEY34ettKgzc8p7Zk_FjRjaEhw._liAHVMmxHEFjucLjrW9aw4hgxYCRzDSQtTYXvtoonE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "4976df7f-e541-4224-bec7-698cee881a7d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"7d5393f1-dd02-488b-923a-a0b30fee8668","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest000002","appId":"4976df7f-e541-4224-bec7-698cee881a7d","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitest000002","errorUrl":null,"homepage":"https://clitest000002","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"b122e91f-80c3-4623-ba36-389a5f7353c1","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["4976df7f-e541-4224-bec7-698cee881a7d","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4918985'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/7d5393f1-dd02-488b-923a-a0b30fee8668/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - k+a8loBjbxraN1otxCzpa/lm7sS3uSMfCmXQCJ5UeOg=
      ocp-aad-session-key:
      - pec1Qs09-YI5xrYeBs9oCcv5ceJZQnhYVyvz8N75dItQK1Oe8HnisWrHXTr4Drx51gQSlvxLFxSlGbhTRzxPCzdS-w7a1gUvmC2QWbcXu9Val5JZ3mUW-W1ImLKgAgsKGFKlOIAZge4xO5OFL5IIQg.wwboeaM9_kqgsIp81HQf_ifwC1SfN6wn1VSyo-T9ueo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["192.168.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "192.168.0.0/24"}, "name": "clisubnet000005"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"clivnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004\",\r\n
        \ \"etag\": \"W/\\\"05fc7d1e-1d39-4452-923b-394bc32df5d7\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"b8256759-8d6c-4ac7-a53c-ecfeb916b886\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"clisubnet000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005\",\r\n
        \       \"etag\": \"W/\\\"05fc7d1e-1d39-4452-923b-394bc32df5d7\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"192.168.0.0/24\",\r\n          \"delegations\":
        []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/ae69fa64-bbf4-4d20-9b8f-be945b3b4ae9?api-version=2019-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/ae69fa64-bbf4-4d20-9b8f-be945b3b4ae9?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "eastus", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitestxnmlv4jej-c9cbd9", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS2_v2", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005",
      "osType": "Linux"}], "servicePrincipalProfile": {"clientId": "clitest000002",
      "secret": "b160e205-83b8-4d2e-ac45-ef78f8baa157"}, "addonProfiles": {}, "enableRBAC":
      true}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body:
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"Service
        principal clientID: clitest000002 not found in Active Directory tenant 72f988bf-86f1-41af-91ab-2d7cd011db47,
        Please see https://aka.ms/aks-sp-help for more details.\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%274976df7f-e541-4224-bec7-698cee881a7d%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/7d5393f1-dd02-488b-923a-a0b30fee8668?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"7d5393f1-dd02-488b-923a-a0b30fee8668","del[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"10907af9-fa00[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%277d5393f1-dd02-488b-923a-a0b30fee8668%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/10907af9-fa00-418c-b6f0-b50ab8325fbc?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3666160'
      ocp-aad-diagnostics-server-name:
      - gXfFarcv2ysN8TtqVPgD1PYEnzY+oOLIPXpP5S4Cj3o=
      ocp-aad-session-key:
      - kg-RL_B_skBMi5Wm_7XO2j7tIEwgp5mEosuu0QaM7VpQoXn4nTIwOCCBZMqiWe3dpXZaUX5aAjvtfXnk7JTVuTachn441kp0QPTlsRyFL0uIKYZdFrGqHWGhrquyWY9ELrqIxJ5F6U4mOJFy1MQpnA.jYLJu5hDRM8l_lF2PchX0y6s9I0xjpGzMp9lP6xAAoA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUWE5NTFY0SkVKMy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
